<div class="row">
  <div class="col-md-8">
    <h3 class="white-text">Perfil de usuario</h3>
    <br>
    <div class="card">
      <div class="card-body">
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Tu rol es: {{user.role}}</p>
        {{#ifCond user.role '==' 'Administrador'}}
        <a href="/users/" class="btn btn-primary btn-block btn-sm">Ver usuarios</a>
        {{/ifCond}}
        {{#ifCond user.role '==' 'Premium'}}
        <a href="/chat" class="btn btn-secondary btn-block btn-sm">¿Necesitas ayuda?</a>
        {{/ifCond}}
        <a href="/api/sessions/logout/" class="btn btn-danger btn-block btn-sm">Cerrar sesión</a>
      </div>
    </div>
  </div>
</div>